---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const posts = await getCollection("blog");
  const postPages = [...posts];

  return paginate(postPages, {
    pageSize: 2,
  });
}

const { page } = Astro.props;
---

<h1>Page {page.currentPage}</h1>
<ul>
  <!--List the array of astronaut info-->
  {
    page.data.map((post) => (
      <li>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
      </li>
    ))
  }
</ul>

{page.url.first ? <a href={page.url.first}>First</a> : null}
{page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
{page.url.next ? <a href={page.url.next}>Next</a> : null}
{page.url.last ? <a href={page.url.last}>Last</a> : null}
